@model IEnumerable<AionClass.Frontend.Models.Curso>

@{
    ViewData["Title"] = "Index";

    int QuantidadeCursos = Model.Count();
}

<h1>Index</h1>
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-info">
        @TempData["Mensagem"]
    </div>
}

@if ((ViewBag.IsAdmin ?? false) || (ViewBag.IsInstructor ?? false))
{
    <a asp-action="Create" class="btn btn-primary">Novo Curso</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th> 
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(QuantidadeCursos < 1)
        {
            <p>Sem Cursos Disponiveis</p>
        }
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThumbnailUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @if ((ViewBag.IsAdmin ?? false) || (ViewBag.IsInstructor ?? false))
                        {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>           
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }                   
                        <a asp-action="Matricular" asp-route-id="@item.Id">Matricular</a> 
                    </td>
                </tr>
        }
    </tbody>
</table>
